@font-face {
  font-family: "Diogenes";
  src: url("./Diogenes.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./Gilroy-Medium.ttf") format("truetype");
}

html {
  background-color: #B94619;
}

.main {
  position: relative;
  width: 60%;
  font-family: "Gilroy-Medium" !important;
}

.title-1 {
  font-family: "Diogenes" !important;
}

.title-2 {
  font-family: "Diogenes" !important;
}


#column {
  display: block;
  position: absolute;
  z-index: -998;
  top: 200px; /*from 40px*/
  left: 800px;
  background-image: url(ShorterColumn.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 1000px;
  max-height: 1200px;
  min-width: 400px;
  max-width: 500px;
}

#olive {
  display: block;
  position: absolute;
  z-index: -998;
  top: 20px;
  right: -200px;
  width: 30vw;
  height: 80vh !important;
  background-image: url(olive.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#linegreek {
  display: block;
  position: absolute;
  /*z-index: -999;*/
  top: 1250px;

  background-image: url(LinePattern1.png);
  background-repeat: repeat-x;
  background-size: 100%;
  min-height: 100px;
  min-width: 100vh;
}

#logo {
  width: 500px;
  height: 500px;
  background-image: url(logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
#logosmaller {
  width: 300px;
  height: 300px;
  background-image: url(EWeek2023LogoSmaller.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.button {
  /* Rectangle 3 */

  background: #ebe4d1;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #000000;
  border-radius: 100px;
}

/* For Mobile */
@media screen and (max-width: 640px) {
  .main {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
  }
  #column {
    display: none;
    position: absolute;
    z-index: -998;
    top: 20px;
    right: 0px;
    width: 30vw;
    height: 80vh !important;
    background-image: url(ShorterColumn.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  

  #column {
    position: absolute;
    z-index: -998;
    top: 20px;
    right: -200px;
    width: 30vw;
    height: 80vh !important;
    background-image: url(ShorterColumn.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}


/* .Profile h1{
    position: relative;
    color: white;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0;
    padding: 0;
    background-color: red;
} */ 

/* For Mobile */
@media screen and (max-width: 640px) {
    .main {
        width: 90%;
    }
  #linegreek {
    display: block;
    opacity: 0.95;
    position: absolute;
    z-index: -999;
    bottom: -600px;
    right: 0;
    width: 200%;
    height: 100% !important;
    background-image: url(LinePattern1.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.sponsorlogo {
    display: block;
    margin: auto;
    display: inline-flex;
    flex-direction: column;
}

/* .sponsorcontainer {
    display: block;
    margin: auto;
    transform: translate(40px, 0px);
    display: inline-flex;
    flex-direction: column;
} */

/* For Tablets */
@media screen and (min-width: 640px) and (max-width: 768px) {
  .main {
    width: 500px;
  }
}
